body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 180, 110);
    font-family: 'Courier New', Courier, monospace;
}
#drawpad {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.cell {
    background-color: white;
}
h1 {

    text-align: center;
    font-size: 100px;
}

button {
    margin: 0 auto;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    background-color: aqua;
    border-radius: 10px;
    border: 0.5px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
button:hover {
    background-color: rgb(43, 192, 43);
    scale: 1.1;
}

